*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(to top, rgba(0,0,0,0.8)5%,rgba(0,0,0,0.8)5%),url(dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.main{
    width: 100%;
    height: 100vh;
}

.navbar{
    height: 95px;
    margin:auto;
    background:linear-gradient(to top, rgba(0,0,0,0.8)10%,rgba(0,0,0,0.8)10%);
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #f4f2f0;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 16px;
    display:inline;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: orange;
}

body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
::selection{
    color:black;
}
.form{
    position:relative;
    width: 440;
    height: 750;
    max-width: 440px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding:20px 30px;
    border:2px solid white;
    top:40px;
    left:550px;
}
.form h2{
    width: 350px;
    height: 50px;
    text-align:center;
    margin-left: 10px;
    font-family: sans-serif;
    color: #ff7200;
    font-size: 22px;
    background-color: #f3f0ee;
    border-radius: 10px;
    
    padding: 10px;
    position: absolute;
    
    
}
.form p{
    width: 440px;
    height: 45px;
    background: transparent;
    
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
    text-align:center;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: 1px solid #ff7200;
    border-right: 1px solid #ff7200;
    border-left: 1px solid #ff7200;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 50px;
    font-family: sans-serif;
    text-align:center;
}
.form select{
        width: 240px;
        height: 35px;
        background: transparent;
        border-bottom: 1px solid #ff7200;
        border-top: 1px solid #ff7200;
        border-right: 1px solid #ff7200;
        border-left: 1px solid #ff7200;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 50px;
        font-family: sans-serif;
        text-align:center;
    }
    .form textarea{
        width: 240px;
        height: 35px;
        background: transparent;
        border-bottom: 1px solid #ff7200;
        border-top: 1px solid #ff7200;
        border-right: 1px solid #ff7200;
        border-left: 1px solid #ff7200;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 50px;
        font-family: sans-serif;
        text-align:center;
    }

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
    text-align: center;
}
.form option{
    color: black;
}

.btnn{
    width: 300px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    margin-left:  40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: underline;
    color: #f3f0ee;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
label{
    color: #ff7200;
    align-items: center;
}
.link{
    color:#ff7200;
}